spring:
  application:
    name: universal-room-booker
  datasource:
    url: jdbc:postgresql://localhost:5432/urb_db
    username: postgres
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect